<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="author" content="Jarvis Badgley">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono">
	<link rel="openid.server" href="http://openid.chipersoft.com/index.php">
	<link rel="openid.delegate" href="http://openid.chipersoft.com/index.php">
</head>
<body>
	<header class="navbar navbar-default navbar-static-top"><div class="container">
		<img class="logo visible-xs" src="/images/dexter.png" alt="">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Jarvis Badgley</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/about.html">Who Am I</a></li>
			<li><a href="/resume.html">Resume</a></li>
		</ul>
		<ul class="navbar-social">
			<li><a href="mailto:www@chipersoft.com"              ><img src="/images/social/email.png" width="48" height="48" alt="Email"></a></li>
			<li><a href="http://www.twitter.com/ChiperSoft"      ><img src="/images/social/twitter.png" width="48" height="48" alt="Twitter"></a></li>
			<li><a href="http://github.com/ChiperSoft"           ><img src="/images/social/github.png" width="48" height="48" alt="Github"></a></li>
			<li><a href="http://www.youtube.com/user/ChiperSoft" ><img src="/images/social/youtube.png" width="48" height="48" alt="Youtube"></a></li>
			<li><a href="http://www.last.fm/user/ChiperSoft"     ><img src="/images/social/lastfm.png" width="48" height="48" alt="Last.fm"></a></li>
			<li><a href="http://www.reddit.com/user/ChiperSoft"  ><img src="/images/social/reddit.png" width="48" height="48" alt="Reddit"></a></li>
			<li><a href="http://news.ycombinator.com/user?id=ChiperSoft"><img src="/images/social/hackernews.png" width="48" height="48" alt="Hacker News"></a></li>
			<li><a href="http://stackoverflow.com/users/110189/chipersoft"><img src="/images/social/stackoverflow.png" width="48" height="48" alt="StackOverflow"></a></li>
			<li><a href="http://www.quora.com/Jarvis-Badgley"    ><img src="/images/social/quora.png" width="48" height="48" alt="Quora"></a></li>
			<li><a href="http://www.facebook.com/ChiperSoft"     ><img src="/images/social/facebook.png" width="48" height="48" alt="Facebook"></a></li>
			<li><a href="https://plus.google.com/111290008413204402077"><img src="/images/social/google.png" width="48" height="48" alt="Google Plus"></a></li>
		</ul>
	</div></header>
	<div class="container content">
		{{#block "body"}}
			<div class="row">
				<div class="col-sm-8 article-body">{{#block "article"}}{{/block}}</div>
				<aside class="col-sm-4 col-md-3 col-md-offset-1 article-sidebar">
				{{#block "sidebar"}}
					<img class="logo hidden-xs" src="/images/dexter.png" alt="">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Previous Posts</h3>
						</div>
						<ul class="panel-body article-links">
							{{#each (first posts 8)}}
							<li><a href="{{url}}">{{title}}</a> <span>{{date 'MMMM Do, YYYY' this.date}}</span></li>
							{{/each}}
						</ul>
						<ul class="panel-body article-links collapse" id="more-links">
							{{#each (after posts 8)}}
							<li><a href="{{url}}">{{title}}</a> <span>{{date 'MMMM Do, YYYY' this.date}}</span></li>
							{{/each}}
						</ul>
						<a href="#more-links" data-toggle="collapse" data-target="#more-links" class="more-toggle">View More</a>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Latest Projects</h3>
						</div>
						<ul class="panel-body project-links">
							<li><a href="http://mash.li">Mash.li</a><span>A SoundCloud aggregate for finding music mashups</span></li>
							<li><a href="https://github.com/ChiperSoft/quell">Quell</a><span>A no-frills active record implementation for node-mysql.</span></li>
							<li><a href="https://github.com/ChiperSoft/pitstopjs">Pitstop</a><span>An express middleware for creating conditional groups of other middleware.</span></li>
							<li><a href="https://github.com/ChiperSoft/Kalendae">Kalendae</a><span>A framework agnostic javascript date picker that just works.</span></li>
						</ul>
					</div>
				{{/block}}
				</aside>
			</div>
		{{/block}}
	</div>
	<hr>
	<footer class="container">Copyright &copy;  {{date "YYYY"}} Jarvis Badgley<br><a href="https://github.com/ChiperSoft/chipersoft.github.com">Generated</a> on {{date "MM/DD/YYYY \a\t HH:mm:ss"}}</footer>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
	{{#block "postscripts"}}{{/block}}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-4767790-2', 'chipersoft.com');
	  ga('send', 'pageview');
	</script>
</body>
</html>